.custom-button {
  padding: 10px 15px;
  font-size: 16px;
  border: none;
  background-color: #8B0000; /* Dunkles Rot */
  color: white;
  cursor: pointer;
  border-radius: 5px;
  transition: background 0.3s;
}

.custom-button:hover {
  background-color: #b71c1c;
}

.button-container {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}
